/* line 1, /Users/raine/projects/convertui/src/public/styles/main.sass */
body {
  padding-bottom: 50px;
  font-smoothing: antialiased; }

/* line 5, /Users/raine/projects/convertui/src/public/styles/main.sass */
.container {
  max-width: 760px; }

/* line 8, /Users/raine/projects/convertui/src/public/styles/main.sass */
.space-below-sm {
  margin-bottom: 10px; }

/* line 10, /Users/raine/projects/convertui/src/public/styles/main.sass */
.space-below-md {
  margin-bottom: 20px; }

/* line 12, /Users/raine/projects/convertui/src/public/styles/main.sass */
.space-below-lg {
  margin-bottom: 50px; }
