/* line 3, /Users/raine/projects/x-to-y/src/public/styles/main.sass */
body {
  padding-bottom: 20px;
  font-smoothing: antialiased;
  color: #212121;
  font-family: 'Helvetica Neue';
  font-weight: 100;
  font-size: 16px; }

/* line 11, /Users/raine/projects/x-to-y/src/public/styles/main.sass */
.page-header {
  color: white;
  background-color: #2196f3;
  min-height: 150px;
  padding: 20px 40px;
  margin: 0 0 50px 0;
  border: 0;
  position: relative; }
  /* line 19, /Users/raine/projects/x-to-y/src/public/styles/main.sass */
  .page-header h1 {
    font-weight: 200;
    font-size: 39px;
    position: absolute;
    padding-bottom: 20px;
    bottom: 0; }

/* line 26, /Users/raine/projects/x-to-y/src/public/styles/main.sass */
.container {
  max-width: 760px;
  padding: 0 40px; }

/* line 30, /Users/raine/projects/x-to-y/src/public/styles/main.sass */
.button, .qq-upload-button {
  color: white;
  background-color: #448aff;
  border: 0; }
  /* line 34, /Users/raine/projects/x-to-y/src/public/styles/main.sass */
  .button:hover, .qq-upload-button:hover {
    background-color: #2979ff; }

/* line 37, /Users/raine/projects/x-to-y/src/public/styles/main.sass */
.button-instructions {
  color: white;
  background-color: #40c4ff;
  overflow: auto;
  display: block;
  line-height: 36px;
  padding: 0 10px; }

/* line 45, /Users/raine/projects/x-to-y/src/public/styles/main.sass */
.box {
  box-shadow: 1px 1px 1px #555; }

/* line 48, /Users/raine/projects/x-to-y/src/public/styles/main.sass */
.icon-convert {
  width: 64px;
  height: 64px;
  opacity: 0.13; }

/* line 53, /Users/raine/projects/x-to-y/src/public/styles/main.sass */
.relative {
  position: relative; }

/* line 56, /Users/raine/projects/x-to-y/src/public/styles/main.sass */
.stick-down {
  position: absolute;
  bottom: 0; }

/* line 60, /Users/raine/projects/x-to-y/src/public/styles/main.sass */
.stick-right {
  position: absolute;
  right: 10px; }

/* line 64, /Users/raine/projects/x-to-y/src/public/styles/main.sass */
.space-below-sm {
  margin-bottom: 10px; }

/* line 66, /Users/raine/projects/x-to-y/src/public/styles/main.sass */
.space-below-md {
  margin-bottom: 20px; }

/* line 68, /Users/raine/projects/x-to-y/src/public/styles/main.sass */
.space-below-lg {
  margin-bottom: 50px; }

@media (max-width: 500px) {
  .above500 {
    display: none; } }

/*************************
 * bootstrap overrides
 *************************/
/* line 80, /Users/raine/projects/x-to-y/src/public/styles/main.sass */
span.dropdown {
  display: inline-block; }

/* line 83, /Users/raine/projects/x-to-y/src/public/styles/main.sass */
.btn {
  border: 0; }

/*************************
 * fineuploader overrides
 *************************/
/* line 90, /Users/raine/projects/x-to-y/src/public/styles/main.sass */
.qq-uploader {
  width: 105px; }

/* line 93, /Users/raine/projects/x-to-y/src/public/styles/main.sass */
.qq-upload-drop-area {
  background-color: #ef9a9a;
  width: auto; }
  /* line 96, /Users/raine/projects/x-to-y/src/public/styles/main.sass */
  .qq-upload-drop-area span {
    position: static;
    margin: 0;
    padding: 0 10px;
    line-height: 36px;
    white-space: nowrap; }

/* line 104, /Users/raine/projects/x-to-y/src/public/styles/main.sass */
.qq-upload-list {
  display: none; }

/* line 107, /Users/raine/projects/x-to-y/src/public/styles/main.sass */
.qq-upload-list li.qq-upload-success {
  background-color: #ef9a9a; }
