doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		block title

		link(rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/file-uploader/3.7.0/fineuploader.min.css')
		//- link(rel='stylesheet' href='/scripts/components/material-design-icons/sprites/css-sprite/sprite-action-black.css')
		link(rel='stylesheet' href='/styles/out.min.css')
		block styles

	body
		block content

	block scripts
